<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="problemDB">

	<!-- resultMap ( HashMap ) -->
	<!-- VO로 바꿔서 안씀 -->
	<resultMap type="HashMap" id="problemMap">
		<id column="category_code" property="category_code" />
		<id column="category_detail" property="category_detail" />
		<id column="problem_code" property="problem_code" />
		<id column="problem_detail" property="problem_detail" />
		<id column="place_code" property="place_code" />
		<id column="place_detail" property="place_detail" />
		<id column="depth" property="depth" />
	</resultMap>


	<!-- select 쿼리 (여러개) -->
	<select id="selectProblemList"   resultType="ProblemVO">
		select category_category_code,problem.problem_code,problem_detail,category_detail 
		from storecare.problem, storecare.category 
		where problem.category_category_code=category.category_code
	</select>
	
	<!-- select 쿼리 ( 문의 뎁스별로 검색 ) -->
	<select id="selectProblemListTest"   resultType="ProblemVO" parameterType="ProblemVO">
		<choose>
			<!-- 1뎁스 일 때 -->
			<when test="depth == 1">
				select category_code, category_detail,depth
				from category
			</when>
			<!-- 2뎁스 일 때 -->
			<when test="depth == 2">
				select category_code, category_detail, problem_code,problem_detail,problem.depth as depth
				from category
				join problem
				on category.category_code = problem.category_category_code
				where category_code = #{category_code}
			</when>
			<!-- 3뎁스 일 때 -->
			<when test="depth == 3">
				select category_code, category_detail, problem_code,problem_detail, place_code, place_detail,place.depth as depth
				from category
				join problem
				join place
				on problem.category_category_code = category_code
				and place.problem_problem_code = problem_code
				where category_code = #{category_code} and problem_code = #{problem_code}
			</when>
		</choose>
	</select>	
	
	
	
	<!--  insert 쿼리 -->
	<insert id="insertProblem" parameterType="ProblemVO">
		<choose>
			<!-- 1뎁스 일 때 -->
			<when test="depth == 1">
				insert into category(category_detail)
				values(#{category_detail})
			</when>
			<!-- 2뎁스 일 때 -->
			<when test="depth == 2">
				insert into problem(category_category_code,problem_detail)
				values(#{category_code},#{problem_detail})
			</when>
			<!-- 3뎁스 일 때 -->
			<when test="depth == 3">
				insert into place(problem_problem_code,place_detail)
				values(#{problem_code},#{place_detail})
			</when>
		</choose>
	</insert>
	
	<!-- update 쿼리 (관리가자 문의 처리)-->	
	<update id="updateProblem" parameterType="HashMap">
		<choose>
			<!-- 1뎁스 일 때 -->
			<when test="depth == 1">
				update category
				set category_detail = #{detail}
				where category_code = ${param}
			</when>
			<!-- 2뎁스 일 때 -->
			<when test="depth == 2">
				update problem
				set problem_detail = #{detail}
				where problem_code = ${param}
			</when>
			<!-- 3뎁스 일 때 -->
			<when test="depth == 3">
				update place
				set place_detail = #{detail}
				where place_code = ${param}
			</when>
		</choose>
	</update>	
	
	<!-- delete 쿼리 (사용자가 삭제하는 문의)-->
	<delete id="deleteProblem" parameterType="HashMap">
		<choose>
			<!-- 1뎁스 일 때 -->
			<when test="depth == 1">
				delete 
				from category
				where category_code = #{param}
			</when>
			<!-- 2뎁스 일 때 -->
			<when test="depth == 2">
				delete 
				from problem
				where problem_code = ${param}
			</when>
			<!-- 3뎁스 일 때 -->
			<when test="depth == 3">
				delete 
				from place
				where place_code = #{param}
			</when>
		</choose>
	</delete>
		
	
	
</mapper>