<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userDB">


	<!-- select 쿼리 (id로 사용자 검색 후 리턴) -->
	<select id="selectUserId"  parameterType="String" resultType="UserVO">
		select * from users where id=#{id}
	</select>
	
	<!-- select 쿼리 (vo로 사용자 검색 후 리턴) -->
	<select id="checkUserId"  parameterType="UserVO" resultType="UserVO">
		select * from users where id=#{id}
	</select>	
		
	<!-- select 쿼리 (vo로 사용자 검색 후 리턴) -->
	<select id="selectUserVo"  parameterType="UserVO" resultType="UserVO">
		select * from users where id=#{id}
	</select>
	

		
	<!--  insert 쿼리 이건 아마 사용자 폰번호로하면 안 쓸 듯-->
	<insert id="insertUser" parameterType="UserVO">
		insert into users(id,password,role) values(#{id},#{password},2)
	</insert>
	
	<!--  insert 쿼리 ( 관리자 )  -->
	<insert id="insertAdmin" parameterType="DepartmentVO">
		insert into users(id,password,role,department_department_code) 
		values(#{id},"lotte",1,(select department_code from department where department_name=#{department_name}))
	</insert>
	
	<!--  delete 쿼리 ( 관리자 )  -->
	<delete id="deleteAdmin" parameterType="DepartmentVO">
		delete from users
		where department_department_code=${department_code}
	</delete>
	
	
	
	
	
</mapper>