<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userDB">


	<!-- select 쿼리 (id로 사용자 검색 후 리턴) -->
	<select id="selectUserId"  parameterType="String" resultType="UserVO">
		select * from users where id=#{id}
	</select>
	
	<!-- select 쿼리 (vo로 사용자 검색 후 리턴) -->
	<select id="checkUserId"  parameterType="UserVO" resultType="UserVO">
		select * from users where id=#{id}
	</select>	
		
	<!-- select 쿼리 (vo로 사용자 검색 후 리턴) -->
	<select id="selectUserVo"  parameterType="UserVO" resultType="UserVO">
		select * from users where id=#{id}
	</select>
	

		
	<!--  insert 쿼리 -->
	<insert id="insertUser" parameterType="UserVO">
		insert into users(id,password,role) values(#{id},#{password},2)
	</insert>
</mapper>