<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd"> 

<configuration> 
	<typeAliases>
		<typeAlias alias="UserVO" type="com.lotte.storecare.user.UserVO" />
		<typeAlias alias="BoardVO" type="com.lotte.storecare.vo.BoardVO" />
		<typeAlias alias="DepartmentVO" type="com.lotte.storecare.vo.DepartmentVO" />
		<typeAlias alias="ProblemVO" type="com.lotte.storecare.vo.ProblemVO" />
	</typeAliases>
</configuration>